apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: mern-ns
spec:
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-container
        image: prathap4414/backend-img
        envFrom:
          - secretRef:
              name: mongo-secret
        env:
          - name: MONGOURI
            value: "mongodb://$(MONGO_INITDB_ROOT_USERNAME):$(MONGO_INITDB_ROOT_PASSWORD)@mongo-service:27017/prathu-db?authSource=admin"
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5000
