apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Values.label }}
  ports:
  - port: {{ .Values.port }}
    targetPort: {{ .Values.port }}
